// BASE PATH

//Other colors
$wild_sand: #f4f4f4;
$wilder_sand: #f5f5f5;
$white: #fff;
$color_gunsmoke_approx: #858585;
$color_submarine_approx: #bdc3c7;
$color_storm_dust_approx: #666565;
$color_testimonials_approx: #ededed;


$navbar-height: 80px;
// Breakpoints
$extra-extra-small-min: 320px;
$extra-small-min: 375px;
$extra-small-min-2: 414px;
$extra-small-max: 544px;
$extra-small-max-2: 568px;
$extra-small-max-3: 667px;
$extra-small-max-5: 737px;
$extra-small-max-4: 812px;

$ipad-mini: 768px;
$ipad: 991px;
$ipad-pro-min: 834px;
$ipad-pro: 1024px;
$ipad-pro-max: 1112px;

$laptop-l-min: 1440px;
$desktop-l-max: 1920px;
$laptop-2-min: 1200px;
$laptop-4-min: 1280px;
$laptop-5-min: 1600px;
$laptop-macbook-pro: 1265px;
$laptop-tiny-min: 1024px;
$laptop-3-min: 1366px;
$bootstrap-v4-xs-max: 575px;





// fonts

$primary-font: Helvetica, sans-serif;
$secondary-font: Georgia, serif;
